.contact h2 {
    font-weight: 100;
}

.contact p {
    font-size: 16px;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
    padding: 50px;
    background-color: #39393A;
    color: #E6E6E6;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 #39393A, 0 6px 20px 0 #39393A;
}

button {
    background-color: #39393A;
    color: #E6E6E6;
    border: solid 2px #E6E6E6;
    margin: 10px;
    border-radius: 1rem;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.icon a {
    font-size: 40px;
    margin: 10px;
    color: #30638E;
}

@media all and (min-width:800px) {
    .icon a:hover {
        color: #FF8552;
    }

    form, .contact p {
        margin: 20px 200px;
    }
}

@media all and (min-width:1100px) {
    form, .contact p {
        margin: 20px 300px;
    }

}