header {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
  }

  .devName {
      font-size: 16px;
      font-weight: 400;
      margin-top: 50px;
      margin-bottom: 0;
  }

  .devDescription {
      text-align: left;
      font-weight: 100;
  }