footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #7AB8A2;
  }

footer a {
    color: #000000;
    padding: 5px;
}

.footer-name {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
}

@media all and (min-width: 800px) {
    footer a :hover {
        color: #ffffff;
    }
}