p {
    color: #0F0A0A;
}

p {
    font-size: 20px;
    margin: 20px;
    text-align: left;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    flex: 1;
    margin: 10px;
}

.introduction {
    flex: 2;
    margin: 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.about-me h2 {
    text-align: left;
    font-weight: 100;
}

.about-me p {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
}

p a {
    font-weight: 600;
    color: #30638E;
    text-decoration: none;
}

.gridContainer {
    max-width: 1335px;
    margin: 0 auto;
  }

  .gridRows {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  } 

  .photos h2 {
    font-weight: 100;
    font-size: 12px;
  }

@media all and (min-width: 800px) {
    
    .introduction {
        flex: 2;
        margin-top: 30px;
    }
    
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    .about-me h2 {
        margin-left: 20px;
        margin-bottom: 0;
    }

    p a:hover {
        color: #FF8552;
        border-radius: 0.5rem;
    }

    .photos h2 {
        font-size: 16px;
    }
}

@media all and (min-width: 1500px) {
    .gridContainer {
        margin-right: 50px;
        margin-left: 50px;
    }
  }